<% layout('/layouts/boilerplate') %>
<h1><%= summonerRankedInfo[0].summonerName %> </h1>
<h2><%= summonerRankedInfo[0].tier %> <%= summonerRankedInfo[0].rank %> </h2>
<h2><%= summonerRankedInfo[0].leaguePoints %> LP</h2>
<h2>Wins:<%= summonerRankedInfo[0].wins %> Losses: <%= summonerRankedInfo[0].losses %> </h2>