<% layout('/layouts/boilerplate') %>
<% for (let summoner of summonerRankedInfo) { %>
<h1><%= summoner.summonerName %> </h1>
<h2><%= summoner.queueType.substring(0, 11).replace('_', ' ') %> </h2>
<h2><%= summoner.tier %> <%= summoner.rank %> </h2>
<img src="/icons/ranked_emblems/<%=summoner.tier%>_<%=helper.romanToInt(summoner.rank)%>.png" alt="Diamond 4">
<h2><%= summoner.leaguePoints %> LP</h2>
<h2>Wins:<%= summoner.wins %> Losses: <%= summoner.losses %> </h2>
<h2>Win Ratio: <%= Math.round(((summoner.wins / (summoner.wins + summoner.losses))*100)) %> % </h2>
<% } %>
<% for (let matchHistory of matchHistories) {%>
<div class="card" style="width: 10rem;">
    <% for (let player of matchHistory.info.participants) { %>
    <% if(player.summonerId === summonerAccountInfo.id) { %>
    <% Object.values(champions).forEach((champion) => { %>
    <% if(player.championId === champion.id) { %>
    <img class="card-img-top" src=" <%= champion.icon %> " alt=" <%= player.championName %> ">
    <% } %>
    <% }) %>
    <div class="card-body">
        <% if(matchHistory.info.queueId === 400) { %>
        <h5 class="card-title">Normal</h5>
        <% } else if (matchHistory.info.queueId === 420) { %>
        <h5 class="card-title">Ranked Solo</h5>
        <% } else if(matchHistory.info.queueId === 440) { %>
        <h5 class="card-title">Ranked Flex</h5>
        <% } else { %>
        <h5 class="card-title"><%= matchHistory.info.gameMode %> </h5>
        <% } %>
        <p class="card-text"><%= player.championName %></p>
        <% } %>
        <% } %>
    </div>
</div>
<% } %>