<% layout('/layouts/boilerplate') %>
<h1 class="text-center mb-3"><%= champion.name %> </h1>
<h2 class="text-center"><%= champion.title.charAt(0).toUpperCase() + champion.title.substring(1)%> </h2>
<div class="text-center mb-3">
    <img src="<%= champion.icon %>" class="img-thumbnail" alt="<%= champion.name %>">
</div>
<div class="row border mb-3">
    <p class="lead text-center mt-3 mb-3"><%= champion.lore %></p>
    <hr>
    <h2 class="text-center mb-3">Base Statistics</h2>
    <hr>
    <div class="col mb-3">
        <p class="list-group-item"><span class="fw-bold">Health:</span> <%= champion.stats.health.flat %> -
            <%= champion.stats.health.flat + (17 * champion.stats.health.perLevel)%></p>
        <p class="list-group-item"><span class="fw-bold">Health Per Level:</span> <%= champion.stats.health.perLevel %>
        </p>
        <p class="list-group-item"><span class="fw-bold">Health Regen (Per 5s):</span>
            <%= champion.stats.healthRegen.flat %> -
            <%= champion.stats.healthRegen.flat + (champion.stats.healthRegen.perLevel * 17) %></p>
        <p class="list-group-item"><span class="fw-bold">Health Regen Per Level:</span>
            <%= champion.stats.healthRegen.perLevel %></p>
        <% if (champion.stats.mana.flat == 0 && champion.stats.manaRegen.flat == 0) { %>
        <p class="list-group-item"><span class="fw-bold">Mana:</span> N/A </p>
        <p class="list-group-item"><span class="fw-bold">Mana Regen:</span> N/A</p>
        <% } else {%>
        <p class="list-group-item"><span class="fw-bold">Mana:</span> <%= champion.stats.mana.flat%> -
            <%= champion.stats.mana.flat + (17 * champion.stats.mana.perLevel)%></p>
        <p class="list-group-item"><span class="fw-bold">Mana Regen (Per 5s):</span>
            <%= champion.stats.manaRegen.flat %> -
            <%= champion.stats.manaRegen.flat + (17 * champion.stats.manaRegen.perLevel)%></p>
        <p class="list-group-item"><span class="fw-bold">Mana Regen Per Level:</span>
            <%= champion.stats.manaRegen.perLevel%></p>
        <% } %>
    </div>
    <div class="col mb-3">
        <p class="list-group-item"><span class="fw-bold">Armor:</span> <%= champion.stats.armor.flat %> -
            <%= champion.stats.armor.flat + (17 * champion.stats.armor.perLevel)%></p>
        <p class="list-group-item"><span class="fw-bold">Magic Resistance:</span>
            <%= champion.stats.magicResistance.flat %> -
            <%= champion.stats.magicResistance.flat + (17 * champion.stats.magicResistance.perLevel)%></p>
        <p class="list-group-item"><span class="fw-bold">Attack Damage:</span> <%= champion.stats.attackDamage.flat %> -
            <%= champion.stats.attackDamage.flat + (17 * champion.stats.attackDamage.perLevel)%></p>
        <p class="list-group-item"><span class="fw-bold">Movement Speed:</span> <%= champion.stats.movespeed.flat %></p>
        <p class="list-group-item"><span class="fw-bold">Attack Speed:</span> <%= champion.stats.attackSpeed.flat %>% -
            <%= champion.stats.attackSpeed.flat + (17 * champion.stats.attackSpeed.perLevel)%>%</p>
        <p class="list-group-item"><span class="fw-bold">Attack Speed Ratio:</span>
            <%= champion.stats.attackSpeedRatio.flat.toFixed(2) %>
        </p>
    </div>
    <div class="col mb-3">
        <p class="list-group-item"><span class="fw-bold">Critical Strike Damage:</span>
            <%= champion.stats.criticalStrikeDamage.flat %></p>
        <p class="list-group-item"><span class="fw-bold">Attack Cast Time:</span>
            <%= champion.stats.attackCastTime.flat.toFixed(2) %></p>
        <p class="list-group-item"><span class="fw-bold">Attack Total Time:</span>
            <%= champion.stats.attackTotalTime.flat.toFixed(2) %>
        </p>
        <p class="list-group-item"><span class="fw-bold">Attack Delay Offset:</span>
            <%= champion.stats.attackDelayOffset.flat.toFixed(2) %>
        </p>
        <p class="list-group-item"><span class="fw-bold">Attack Range:</span> <%= champion.stats.attackRange.flat %></p>
    </div>
    <div class="col mb-3">
        <p class="list-group-item"><span class="fw-bold">Acquisition Radius:</span>
            <%= champion.stats.acquisitionRadius.flat %></p>
        <p class="list-group-item"><span class="fw-bold">Selection Radius:</span>
            <%= champion.stats.selectionRadius.flat %></p>
        <p class="list-group-item"><span class="fw-bold">Pathing Radius:</span> <%= champion.stats.pathingRadius.flat %>
        </p>
        <p class="list-group-item"><span class="fw-bold">Gameplay Radius:</span>
            <%= champion.stats.gameplayRadius.flat %></p>
    </div>
</div>